@using BdMarketWebApp.Models.ViewModels

@{
    ViewData["Title"] = "BD Market - View Employee";
    ViewData["EmployeeActive"] = "active";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("ViewEmployee","Employee")">Employee</a>
        </li>
        <li class="breadcrumb-item active">View All</li>
    </ol>

    <div class="row" style="padding-top: 10px; padding-bottom: 10px">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-horizontal">
                <div style="width: 100%">
                    <button onclick="location.href = '@Url.Action("Add", "Employee")';" class="add_button"><i class="fas fa-plus-square"></i> Add Employee</button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br />

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Employee Table
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Picture</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>SL</th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Picture</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            int count = 1;

                            foreach (EmployeeViewModel employeeViewModel in ViewBag.Employees)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@employeeViewModel.Name</td>
                                    <td>@employeeViewModel.DesignationName</td>
                                    <td style="text-align: center"><img src="@employeeViewModel.ProfilePicture" style="height: 50px; width: 50px; border-radius: 100%" /></td>
                                    <td>@employeeViewModel.UserName</td>
                                    <td><a href="@Url.Action("Edit","Employee", new {id=employeeViewModel.Id})">Edit</a> || <a href="@Url.Action("ResetPassword","Employee", new {id=employeeViewModel.Id})">Reset Password</a> || <a href="@Url.Action("Remove","Employee", new {id=employeeViewModel.Id})">Remove</a> || <a href="@Url.Action("UserAccess","Employee", new {id=employeeViewModel.Id})">User Access</a></td>
                                </tr>

                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated Table at @DateTime.Now.ToString("F")</div>
    </div>
</div>
